{% extends "template.html" %}

{% block titulo_pagina %} Estadísticas {% endblock %}

{% block contenido_pagina %}

<nav>
    <p><a href="/">Plantillas</a> | <a href="/his_med">Historial Médico</a> | <a href="/inasistencias">Inasistencias</a> | <a href="/seguimiento">Seguimiento</a></p>
</nav>

<h1>Estadísticas</h1>

<table class="paper">
<tr>
    <th>Nombre</th>
    <th>Nombre</th>
    <th>Nombre</th>
    <th>Nombre</th>
</tr>
<tr>
    <td>Hola</td>
    <td>Hola</td>
    <td>Hola</td>
    <td>Hola</td>
</tr>
</table>

{% endblock %}